<div class="card mt-4">
  <div class="card-header">
    Manage Brand
  </div>
  <div class="card-body">
  <table datatable [dtOptions]="dtOptions" class="row-border hover">
    <thead>
      <tr>        
        <th>Brand Name</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody *ngIf="persons?.length != 0">
        <tr *ngFor="let person of persons">
            <!-- <td>{{ person.id }}</td> -->
            <td>{{ person.Name }}</td>
            <td>{{ person.Status }}</td>
            <td>
                <div class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Action
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <a class="dropdown-item" href="#">Edit</a>
                      <a class="dropdown-item" href="#">Remove</a>
                    </div>
                  </div>
            </td>
        </tr>
    </tbody>
    <tbody *ngIf="persons?.length == 0">
      <tr>
        <td colspan="3" class="no-data-available">No data!</td>
      </tr>
    <tbody>
  </table>
</div>
</div>